@import "../../assets/variables.scss";
@import "../../components/home/home.scss";

.container {
    display: flex;
    width: 70%;
}
.news_header {
    background-color: $darkGray;
    color: $white;
    .news {
        display: flex;
        justify-content: center;
        .news_container {
            display: flex;
            margin-top: 2em;
            padding: 3em 0;
            .news_container-content {
               flex: .5;                
            }
            .news_container-blogs {
               flex: .5;                
                .newsBlog_container-content-card {
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                     figure {
                        width: 300px;
                        height: 200px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 7px;
                            -webkit-border-radius: 7px;
                            -moz-border-radius: 7px;
                            -ms-border-radius: 7px;
                            -o-border-radius: 7px;
    }
                     }
                     h3 {
                        margin-top: 20px;
                        padding: 20px 0;
                     }
                     p {
                        line-height: 20px;
                        letter-spacing: 0;
                        margin-bottom: 20px;
                     }
    
                }
            }
        }
    }
}
@media (max-width:425px) {
    .news_header {
        .news {
            .news_container {
                 flex-direction: column;
                 .news_container-content {
                    margin-bottom: 20px;
                 }
                 .news_container-blogs {
                    .newsBlog_container-content-card {
                        width: 100%;
                        figure {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}