@import '../../assets/variables.scss';

a {
    color: $white;
}
p {
    line-height: 30px;
    letter-spacing: 1px;
}
.landingPage {
  display: flex;
  flex-direction: column;
//   align-items: center;

.container {
    display: flex;
    width: 70%;
}
.home {
    background-color: rgba(0, 0, 0, .75);
    background:linear-gradient(0deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75)), url("https://images.unsplash.com/photo-1589216532372-1c2a367900d9?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1171&q=80") no-repeat;
    background-position: bottom right;
    background-size: cover;
    background-blend-mode: overlay;
    color: $white;
}
.practical_areas {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
    background-color: $darkGray;
    color: $white;
    .practical_areas_container {
       justify-content: space-around;
    //    padding: 4em 0;
    }
    .practical_areas_heading {
        text-align: left;
        h2 {
            font-size: 40px;
            padding-top: 1em;
        }
    }
    .practical_areas_content {
        padding-top: 1em;
        .content {
            display: flex;
            align-items: center;
            font-weight: 300;
            // padding: 0 2em;
            p { font-size: 32px;}
            h2 {
                padding: 16px 0;
                font-size: 55px;
                padding-left: 1em;
            }
        }
    }
}

.our_priority {
    display: flex;
    justify-content: center;
    padding: 4em 0;
    margin: 2em 0;
    .our_priority_container {
        display: flex;
        align-items: center;
        padding: 1em 4em;
        position: relative;
        .our_priority_container_img {
            position: absolute;
            top: 0;
            right: calc(100% - 95%);
            height: 70vh;
            z-index: -1;
             img {
                height: 100%;
                width: 100%;
                object-fit: cover;
             }
        }
        .our_priority_container_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $lightGray;
            text-align: left;
            padding: 2em;
            width: 50%;
            margin-top: 2em;
              h1 {
                font-size: 55px;
              }
          
        }
    }
}

.why_us {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin: 2em 0;
    .why_us_container {
       .why_us_container_content {
        h1 {
            font-size: 40px;
            margin-bottom: 20px;
          }
        .why_us_container_subcontent {
            display: flex;
            justify-content: space-between;
              p {
                width: 50%;
              }
          }
          
       }
    }
}
.lawyers_in_number {
    display: flex;
    justify-content: center;
    .lawyers_in_number_container {
        .lawyers_in_number_container_content { 
            h1 {
                font-size: 40px;
                margin-bottom: 40px;
            }
          .lawyers_in_number_container_subcontent {
            display: flex;
            .lawyers_in_number_container_subcontent_box {
            display: flex;
            flex-direction: column;
            gap: 18px;
               h4 {
                font-size: 80px;
               }
               p {
                font-size: $headerParagragh;
                max-width: 70%;
               }
            }
        }
    }
    }
}
.free_consultation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .free_consultation_container {
      background: url("../../assets/lawyer-handshake.jpg") no-repeat center;
      background-size: cover;
      height: 80vh;

      .free_consultation_container-contentBox {
          width: 100%;
          display: flex;
          justify-content: end;
          align-items: center;
          margin: 1.5em;

          .free_consultation_container-contentBox_content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: $lightGray;
            text-align: left;
            padding: 4em;
            width: 50%;
            h1 {
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 10px;
            }

            button {
                margin-top: 20px;
                width: max-content;
            }
          }
       }  
    }
}
.companies {
    display: flex;
    justify-content: center;
    align-items: center;
    .companies_container-logos {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap-reverse;
        gap: 20px;
        figure {
            width: 200px;
            img {
                width: 100%;
            }
        }
    }
}

.company_copy {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkGray;
    padding: 3em 0;
    margin: 2em 0;
    .company_copy_container {
        .company_copy_container-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            color: $white;
            h1 {
                width: 70%;
                font-size: 60px;
            }
            p {
                width: 70%;
                margin-top: 20px;
            }
        }
    }
}
.newsBlog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em 0;
    margin: 2em 0;
    .newsBlog_container {
        flex-direction: column;
        h1 {
            margin-bottom: 20px;
        }
        .newsBlog_container-content {
            justify-content: space-between;
            display: flex;
            flex-wrap: wrap;
            
            .newsBlog_container-content-card {
                display: flex;
                flex-direction: column;
                width: 300px;

                 figure {
                    width: 300px;
                    height: 200px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 7px;
                        -webkit-border-radius: 7px;
                        -moz-border-radius: 7px;
                        -ms-border-radius: 7px;
                        -o-border-radius: 7px;
}
                 }
                 h3 {
                    margin-top: 20px;
                    padding: 20px 0;
                 }
                 p {
                    line-height: 20px;
                    letter-spacing: 0;
                 }

            }
        }
    }
}

}

@media (max-width:1024px) {

    .landingPage {

        .our_priority {
            .our_priority_container {
                .our_priority_container_content {
                    h1 {
                        font-size: 32px;
                    }
                }
                .our_priority_container_img {
                    right: 0%;
                }
            }
        }


        .free_consultation {
            .free_consultation_container {
                .free_consultation_container-contentBox {
                    .free_consultation_container-contentBox_content {
                        padding: 1em;

                        button {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width:786px) {
  .landingPage {
    .practical_areas {
        .practical_areas_heading {
            h2 {
                font-size: 30px ;
            }
        }
        .practical_areas_content {
            .content {
                h2 {
                    font-size: 35px;
                }
            }
            
        }
    }
    .our_priority {
        .our_priority_container {
            .our_priority_container_img {
                height: 50vh;
                right: -10%;
            }
            .our_priority_container_content {
                width: 60%;
            }
        }
    }
    .free_consultation { 
        .free_consultation_container {
            .free_consultation_container-contentBox {
                .free_consultation_container-contentBox_content {
                    width: 70%;
                }
            }
        }
    }
    .company_copy {
        .company_copy_container {
            .company_copy_container-content {
                h1 {
                    width: 100%;
                    font-size: 50px;
                }
            }
        }
    }
  }
}
@media (max-width:425px) {
     .landingPage {
        .container {
            width: 100%;
            flex-direction: column;
            padding: 2em;
        }
        .practical_areas {
            flex-direction: column;
        }
        .our_priority {
            .our_priority_container {
                position: static;
                padding: 1em 0;
                .our_priority_container_img {
                    position: static;
                    width: 100%;
                }
                .our_priority_container_content {
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }
        .why_us {
            .why_us_container {
                .why_us_container_content {
                    .why_us_container_subcontent {
                        flex-direction: column;
                        p {
                            width: 100%;
                        }
                    }
                }
            }
        }
        .lawyers_in_number {
            .lawyers_in_number_container {
                .lawyers_in_number_container_content {
                    .lawyers_in_number_container_subcontent {
                        flex-direction: column;
                         .lawyers_in_number_container_subcontent_box {
                             p {
                                max-width: 100%;
                             }
                         }

                    }
                }
            }
        }
        .free_consultation {
            .free_consultation_container {
                .free_consultation_container-contentBox {
                    margin: 1.5em 0;
                    .free_consultation_container-contentBox_content {
                        width: 100%;
                    }
                }
            }
        }
     }
}

@media (max-width:320px) {
    .landingPage {
        .container {
            padding: 10px;
        }
        .company_copy {
            .company_copy_container {
                .company_copy_container-content  {
                    h1 {
                        font-size: 30px;
                    }
                }
            }
        }
    }
}
