@import '../../assets/variables.scss';
p {
    line-height: 30px;
    letter-spacing: 1px;
}
header {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
.header_text {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 80%;
    .header_text_heading {
       font-size: $headerHeading;
       letter-spacing: -5px;
    }
    .header_text_subHeading {
        font-size: $headerParagragh;
        width: 80%;
        padding-left: 10px;
    }
    .header_text_btn {
        padding-left: 10px;
    }
}
@media (max-width:425px) {
     .header_text {
        .header_text_heading {
            font-size: 80px;
        }
     }
     p {
        margin-bottom: 20px;
     }
}
@media (max-width:425px) {
    .header_text {
        width: 100%;
        padding-left: 20px;
       .header_text_heading {
           font-size: 60px;
       }
    }
    p {
       font-size: 1em;
       margin-bottom: 20px;
    }
}
