@import "../../assets/variables.scss";
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2em 2em;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    .nav_logo_items  {
        display: flex;
        align-items: center;
    }

    .nav_items {
      font-size: $headerParagragh;
        ul {
            padding: 1em 5em;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
                    li {
                    padding: 0 20px;
                        a {
                           position: relative;
                           color: $white;
                           &:after {
                            width: 0%;
                            transition: .5s;
                            -webkit-transition:.5s;
                            -moz-transition:.5s;
                            -ms-transition:.5s;
                            -o-transition:.5s;
                            content: "";
                            position: absolute;
                            height: 3px;
                            background-color: $white;
                            left: 0;
                            bottom: -10px;
}
                           &:hover:after {
                            width: 100%;
                           
                        }
                         }
                       }
          .nav_items_dropDown-NavItem {
                position: relative;
               li {
                display: flex;
                align-items: center;
                gap: 5px;
                .arrowUp {
                    display: none;
                }
               }
               .nav_items_dropDown {
                display: flex;
                display: none;
                flex-direction: column;
                position: absolute;
                top: 20px;
                background-color: $lightGray;
                width: 100%;
                padding: 20px;
                text-align: left;
                cursor: pointer;
                border-radius:10px;
                -webkit-border-radius:10px;
                -moz-border-radius:10px;
                -ms-border-radius:10px;
                -o-border-radius:10px;
                li {
                    margin: 10px;
                    &:hover {
                        .nav_items_dropDown { display: block;}
                    }
                a  {
                    color: $darkGray;
                }
                }
                &:hover {
                    display: flex;
                }
            }
            &:hover {
                .arrowDown {display: none;}
                .arrowUp   {display: block;}
                .nav_items_dropDown { 
                    display: block;
                }
            }
            }
            
        }
    }
    .menu_btn, .responsive_navbar { display: none; }
}
.navbar {
    position: fixed;
    background-color: $white;
    z-index: 2;
    h2 {
        color: $darkGray;
    }
    .nav_items {
        ul {
            li {
                 a {
                    color: $darkGray;
                    &::after {
                        background-color: $darkGray;
                    }
                 }
            }
        }
    }
}

@media (max-width:1024px) {
    nav {
        position: relative;
        .nav_items {display: none;}
        .nav_btn { display: none;}
        .menu_btn, .responsive_navbar {display: block;}
      
        .responsive_navbar {
           //display: block;
           position: absolute;
           left: 0;
           width: 100%;
           background-color: $lightGray;
           transition:.3s ;
           -webkit-transition:.3s ;
           -moz-transition:.3s ;
           -ms-transition:.3s ;
           -o-transition:.3s ;

           .responsive_nav_items { 
                position: relative;
                display: flex;
                 .menu_close-btn {
                    position: absolute;
                    right: 2em;
                    top: 20px;
                 }
                  ul {
                    display: flex;
                    position: relative;
                    align-items: center;
                    justify-content: space-between;
                    width: 80%;
                    padding: 4em 2em;
                      &::after {
                        content: "";
                        position: absolute;
                        height: 2px;
                        width: 90%;
                        bottom: 0;
                        z-index: 1;
                        background-color: $darkGray;

                      }
                      li {
                         a {
                            font-size: 1.2em;
                         }
                      }
                    .nav_items_dropDown-NavItem {
                        position: relative;
                         &:hover {
                            .nav_items_dropDown {
                                display: flex;
                            }
                         }
                        li {
                            display: flex;
                            align-items: center;
                            gap: 10px;
                        }
                        .nav_items_dropDown {
                            width: 100%;
                            position: absolute;
                            z-index: 2;
                            top: 1.3em;
                            left: 0;
                            padding: 20px;
                            display: flex;
                            display: none;
                            flex-direction: column;
                            background-color: white;
                              li {
                                width: 100%;
                                a {
                                    font-size: 1em;
                                    color: $darkGray;
                                 }
                              }
                        }
                    }
                      
                  }
              }
              .nav_footer {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 4em 2em;
                  .nav_footer_links {
                    display: flex;
                    flex-direction: column;
                    flex: .5;
                    color: $darkGray;
                      .social_links {
                        display: flex;
                        gap: 20px;
                        margin-top: 30px;
                      }
                  }
                  
              }
        }
    }
}
@media (max-width:786px) {
    nav {
        .responsive_navbar {
            .nav_footer {
                gap: 30px;
            }
        }
    }
}

@media (max-width:425px) {
    nav {
        .responsive_navbar {
           .responsive_nav_items {
            ul {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
            }
           }
           .nav_footer {
            flex-direction: column;
            align-items: flex-start;
              .nav_footer_links {
                 p {
                    margin-bottom: 0;
                 }
              }
           }
        }
    }
}
