@import "../../assets/variables.scss";
@import "../../components/home/home.scss";

.container {
    display: flex;
    width: 70%;
}
footer {
    a {
        color: $darkGray;
    }

}
.landingPage {
.about_us_page_header {
    color: $white;
    .about_us {
        display: flex;
        justify-content: center;
        padding: 4em 0;
        background-color: black;
        .about_us_container {
            .about_us_container-content {
                padding: 2em 0;
                h1 {
                    font-size: 60px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.our_team {
    display: flex;
    justify-content: center;
    figure {
        height: 40vh;
        width: 70%;
        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}
}